@import url('https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script');

.location-title .hero {
	background: linear-gradient(
			rgba(31, 44, 108, 0.65),
			rgba(31, 44, 108, 0.65)
		),
		rgba(0, 0, 0, 0.55) url('lindauhof.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
}

.location-title .hero .title {
	/* font-family: 'Kaushan Script', sans-serif; */
	/* transform: rotate(-5deg); */
	font-size: 4rem;
	color: whitesmoke;
}

.location .tag {
	margin-right: 0.5rem;
}
