@import url('https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script');

.main-title .hero {
	background: linear-gradient(
			rgba(31, 44, 108, 0.65),
			rgba(31, 44, 108, 0.65)
		),
		rgba(0, 0, 0, 0.55) url('sylt_wide.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
}

.main-title .hero .title {
	font-family: 'Kaushan Script', sans-serif;
	transform: rotate(-5deg);
	font-size: 5rem;
	color: whitesmoke;
}

.main-title .hero .subtitle {
	padding: 5px;
	font-size: 2rem;
	color: whitesmoke;
	font-family: 'Poppins', sans-serif;
}
