.image-slider img {
	position: absolute;
}

.image-slider {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.fade-enter {
	opacity: 0;
}
.fade-enter-active {
	opacity: 1;
	transition: opacity 1000ms;
}
.fade-exit {
	opacity: 1;
}
.fade-exit-active {
	opacity: 0;
	transition: opacity 1000ms;
}

.slide-right-enter {
	transform: translateX(100%);
}

.slide-right-enter-active {
	transform: translateX(0%);
	transition: transform 500ms ease-in-out;
}

.slide-right-exit {
	transform: translateX(0%);
}

.slide-right-exit-active {
	transform: translateX(-100%);
	transition: transform 500ms ease-in-out;
}
